@model trabalho.Models.Pessoa

@{
ViewData["Title"] = "Pessoa";
}
<h1 class="display-4">Pessoa</h1>
<h4>Cadastro</h4>
<div class="row">
    <div class="col-md-4">
        @ViewData["mensagem"]
        <form asp-action="Pessoa" asp-controller="Pessoas">
            <div class="form-group">
                <label>Nome</label><input asp-for="Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label>Sobrenome</label><input asp-for="Sobrenome" class="form-control" />
            </div>
            <div class="form-group">
                <label>Endereco</label><input asp-for="Endereco" class="form-control" />
            </div>
            <div class="form-group">
                <label>Cidade</label><input asp-for="Cidade" class="form-control" />
            </div>
            <div class="form-group">
                <label>CEP</label><input asp-for="CEP" class="form-control" />
            </div>
            <div class="form-group">
                <label>Telefone</label><input asp-for="Telefone" class="form-control" />
            </div>
            <input type="submit" value="Salvar" class="btn btn-success" style="margin-top: 20px;" />
        </form>
    </div>
</div>